alembic
blinker
click
dnspython
email-validator
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-Validator
greenlet
idna
iso3166
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
py-moneyed
pycountry
python-dotenv
pytz
schwifty
SQLAlchemy
typing_extensions
Werkzeug
